.chat .messages-list {
  padding: 25px;
  margin: 0;
}
.chat .messages-list .message {
  width: 100%;
  padding: 10px;
  margin: 2px 0;
  border-radius: 5px;
  list-style: none;
}
.chat .messages-list .message:nth-child(even) {
  background-color: #fff;
}
.chat .messages-list .message:nth-child(odd) {
  background-color: #d7fbea;
}
.chat .writer {
  width: 100%;
  position: absolute;
  padding: 25px;
  bottom: 0;
}
.chat .writer textarea {
  width: 100%;
}
